body {
  font-family: 'Adobe Clean UX', sans-serif;
  overflow: hidden !important;
}

.btn:hover, .btn:focus-visible, .show:active, .dropdown-item:active {
  color: #1D2C45 !important;
}

.btn-secondary {
  color: #1D2C45 !important;
}

.btn {
  height: 50px !important;
  width: 167px;
  border-radius: 24px;
  font-weight: 800 !important;
  font-size: 17px;
  color: #1D2C45;
  background-color: #AAAABE !important;
}

.hover {
  position: relative;
  top: -5px; /* this will raise the element */
}

@keyframes showDropdown {
  from {
    opacity: 0;
    visibility: none;
    position: absolute;
    margin-top: -0.3rem;
  }
  
  to {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: -32px;
    left: 35px;
  }
}

@keyframes hideDropdown {
  from {
    display: block;
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: -32px;
    left: 35px;
  }
  
  to {
    opacity: 0;
    visibility: none;
    position: absolute;
    margin-top: -0.3rem;
  }
}

ul.dropdown-menu.show {
  border: none;
  background-color: transparent;
  opacity: 1;
  position: absolute;
  top: 95px !important;
  left: calc(50% - 96.8px) !important;
  /* animation-duration: 0.167s; */
  animation: showDropdown 0.167s;
}
ul.dropdown-menu.hidden {
  border: inherit;
  background-color: transparent;
  position: absolute;
  top: 95px !important;
  left: calc(50% - 96.8) !important;
  animation: hideDropdown 0.167s;
}

.dropdown-item {
  color: #1D2C45;
  background-color: #AAAABE;
  width: 256px;
  min-height: 50px;
  font-size: 17px;
  font-weight: 700 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
  background: #C4BED2
}

ul li img {
  width: 43px;
  height: 44px;
  padding: 0;
  margin: 0;
}

ul li:last-child .dropdown-item {
  /* Propriedade que deseja aplicar apenas ao último item */
  /* Por exemplo, alterar a cor do texto para vermelho */
  border-radius: 0px 0px 24px 24px;
}

ul li:first-child .dropdown-item {
  /* Propriedade que deseja aplicar apenas ao último item */
  /* Por exemplo, alterar a cor do texto para vermelho */
  border-radius: 24px 24px 0px 0px;
}
